 body{
    max-width: 1000px;
    margin: 0 auto;/*
    width: 90%;
    border: 3px solid orange;*/
    font-family: 'Segoe UI', sans-serif;
    color: black;
   background-color: #1E1028;


    border: 2px solid black;
    border-radius: 10px;
   /* overflow: hidden;*/

    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.4);
}

html {
    background-color: #E8D8E5;
}

/*STYLES FOR HEADER*/
header {
   /* border: 2px solid black;*/
    padding: 0.1em;
    color: #9b51c0;
    
}

h1 {
    text-align: center;
    font-size: 2.5em;
   
}

header p{
    text-align: center;
    font-size: 1.2em;
    color: #ae6bc9;
}

main{
    text-align: center;
}

/*STYLES FOR SECTION*/
section, p{
    color:#FFFFFF;
    font-size: 1.2em;
}

h2{
    text-align: center;
    color: #542566;
}


aside, ul, li{
    color:#FFFFFF;
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 10em;
    
}

/* STYLES FOR TABLE */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #E8D8E5;
    color: #1E1028;
}

th {
    background-color: #9b51c0;
    color: white;
    padding: 12px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #542566;
}

tr:hover {
    background-color: #C9A7E8;
}


aside a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #E8A6C8;
    color: #1E1028;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

/* WHEN THE MOUSE IS OVER THE BUTTON */
aside a:hover {
    background-color: #C9A7E8;
    color: #1E1028;
}